<!DOCTYPE html>
<html lang="en">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Dashboard</title>
    <style>
        *{
          margin: 0;
          padding: 0;
        }
          
            .root{
                display: flex;
                align-items: center;
                justify-content: center;
                /* color: white; */
        
               
            } 
            
            .subdiv{
                width: 100%;
                margin-top: 30px;
                padding: 20px;
            } 
            .aligncenter{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .gap{
              padding: 15px;
            }
            table{
              margin: 20px;
            }
            th,td{
              padding: 10px;
            }
          </style>
</head>
<body style="background-color: #ecf0f1;">
    <div style="display: flex; justify-content: center; align-items: center; ">
        <div style="width: 70%; height: 100vh; background-color: white;">

    <!-- Navigation Bar  -->
    <form>
    <nav class="navbar" style="background:#ffbe76; " role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" >
            <img src="/images/lms.png" width="100px">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/first/first">
              Home
            </a>
      <% console.log(result.roolNum) %>
            <a class="navbar-item" href="/first/assgStudent?sem=<%=result.semester%>&dept=<%=result.department%>&rollnum=<%=result.roolNum%>">
              Assignment
            </a>
      
            <a class="navbar-item">
              Notes
            </a>

            <a class="navbar-item" href="/first/stdAssg">
              Submitted Assignment
            </a>

            <a class="navbar-item">
              About
            </a>

            <a class="navbar-item"  href="/first/getInTouch">
              Contact
            </a>

          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary" href="/first/studentLogout">
                  <strong>Log Out</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
      
      <table class="root">
        <tr class="root">
          <th>
          <h2> Welcome   <%=result.fname%> <%=result.mname%> <%=result.lname%></h2>
        </th>
        </tr>
        
        <tr>
          <th>Semester</th>
          <td>
            <%=result.semester%>
          </td>
        </tr>
        <tr>
          <th>Enrollment Number</th>
          <td><%=result.roolNum%></td>
        </tr>
        <tr>
          <th>Department</th>
          <td><%=result.department%></td>
        </tr>
      </table>
      </form>
      <% if( msg !=null) { %>
      <h1><%=msg%></h1>
      <% } %>
</body>
</html>